* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
}

.cursive-world {
    font-family: 'Cormorant Garamond', serif;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
}